.cart_items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions .close {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 5px 0px #78a2a2;
  transition: all 0.2 ease;
}

.actions .button {
  color: rgb(255, 255, 255);
  background-color: #98d4d6;
  box-shadow: 0 5px 0px #78a2a2;
  transition: all 0.2 ease;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #45a2d1;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover {
  background-color: #8bc2c4;
  color: white;
}
.actions button:active {
  box-shadow: none;
  margin-top: 2px;
}
