.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 5px 5px #adadac;
  align-items: center;
  font-size: 1.2rem;
  background-color: #f2eded;
}
ul {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.item:hover {
  background-color: #eaeae6;
  margin-top: 1.2rem;
}

.item_info {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: "ingame-font";
  src: url("../../UI/fonts/FOT-Rodin Pro UB.otf");
}

.item_info h3 {
  margin: 0 0 0.25rem 0.25rem;
}
.item_info h3:hover {
  color: #944a05;
  cursor: pointer;
}

.price {
  display: flex;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
  align-items: center;
  gap: 0.25rem;
}
.price img {
  margin-bottom: 3px;
}

.description {
  display: flex;
  animation: items-down 0.5s linear;
  color: rgb(51, 43, 36);
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
  padding: 1rem;
  box-shadow: 5px 5px #adadac;
  align-items: center;
  font-size: 1.2rem;
  background-color: #f2eded;
}
@keyframes items-down {
  from {
    opacity: 0.2;
    transform: translateY(0.45rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
