@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
import * {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #f7f6dc;
  background-image: url("./Components/UI/images/clickwallpapers-animal-crossing-new-horizons-nintendo-wallpaper-in-4k-img5 (1).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
